<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daviddetena.baccus" >

    <!-- Indicamos que nuestra aplicación usará Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- La pantalla del vino será la inicial. A partir del botón i accederemos al Activity
        de la web del vino WebActivity -->
        <activity android:name="com.daviddetena.baccus.controller.WineActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".controller.WebActivity" android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden">

        </activity>
    </application>

</manifest>
